<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" [(ngModel)]="Title" />
    <button onclick='searchByTitle()'>Search</button>

    <!-- <div *ngIf="ifTitleExists !== null">
        {{ ifTitleExists ? 'Tiitle Found ' : 'No Title Found'}}
    </div> -->
    <div>
        <h1> Type Chocolate </h1>
        <div *ngFor="let content of contentsList | contentsList:chocolate">
            <div id="list">
            <h2 [innerHTML]="content.title"></h2>
            <p [innerHTML]="content.description"></p>
            <p [innerHTML]="content.creator"></p>
            <img src="{{content.imgURL}}">
            </div>
        </div>
    </div>
    
    <div>
        <h1> Milk chocolate </h1>
        <div *ngFor="let content of contentsList | contentsList:milk chocolate">
            <div id="list">
            <h2 [innerHTML]="content.title"></h2>
            <p [innerHTML]="content.description"></p>
            <p [innerHTML]="content.creator"></p>
            <img src="content.imgURL">
            </div>
        </div>
    </div>
</body>
</html>
