<!-- <p>modify-content-component works!</p> -->
<link href="./modify-content-component.component.scss">
<div>
    <p> Title : <input type="text" [(ngModel)]="newContent.title"></p>
    <p> Description : <input type="text" [(ngModel)]="newContent.description"></p>
    <p> Creator : <input type="text" [(ngModel)]="newContent.creator"></p>
    <p> Type : <input type="text" [(ngModel)]="newContent.type"></p>

    <button (click)="addContentToList()">Add Content</button> <br><br>

    <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </section>
</div>

